{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mainapp/home.css' %}" type='text/css'> 
{% endblock %}

{% block content %}
<img id='feature3' src={% static 'mainapp/feature3.png' %} alt='feature3'>
<div id='menu'>
    <a href="{% url 'mainapp:map' %}">
        <div id='menu_box'>
            <h3>마이맵</h3>
            나의 예술 여행 지도 >
        </div>
    </a>
    <a href="{% url 'subapp:search' %}">
        <div id='menu_box'>
            <h3>예술 검색</h3>
            나를 위한 전시, 공연, 행사 정보 검색하기 >
        </div>
    </a>
    <a href="{% url 'secondapp:place_search' %}">
        <div id='menu_box'>
            <h3>공간 검색</h3>
            지역 예술 회관 및 문화 공간 검색하기 >
        </div>
    </a>
</div>
<img id='feature' src={% static 'mainapp/feature2.png' %} alt='feature'>
{% endblock %}