{% extends 'base3.html' %}
{% load static %}

{% block style %}
    {% comment %} <link rel="stylesheet" href="{% static 'mainapp/home.css' %}">  {% endcomment %}
{% endblock %}

{% block content %}
    {% comment %} <h1>게시글 개별 페이지</h1> {% endcomment %}
    <h3>장소명:{{post.name}}</h3>
    <div id='text_contents'>
        <p>항목:{{post.item}}</p>
        <p>방문날짜:{{post.date}}</p>
        <p>위치:{{post.country}}/{{post.city}}</p>
        <p>공개여부:{{post.public}}</p>
        <p>평점:{{post.rating}}</p>
        {% if post.image %}
            <img src = "{{ post.image.url }}" alt="{{post.name}}" width="95%">
            <br>
        {% endif %}
        <p>후기:{{post.comment}}</p>
    </div>
    <div id='container'>
        <button id='ct_items' onclick="javascript:history.back();">뒤로가기</button>
        <button id='ct_items' onclick="window.close();">창닫기</button>
        <a id='ct_items' href="{% url 'mainapp:edit_posting' %}">수정</a>
        <a id='ct_items' href="/{{post.pk}}/remove">삭제</a>
    </div>
{% endblock %}