{% extends 'base3.html' %}
{% load static %}

{% block style %}
{% endblock %}
{% block content %}
    <h3>{{region}} 예술 기록</h3>
    {% if postlist %}
    <table border="1">
        <th>no</th>
        <th>날짜</th>
        <th>도시</th>
        <th>장소이름</th>
        {% for post in postlist %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{post.date}}</td>
                <td>{{post.city}}</td>
                <td><a href="/{{post.pk}}">{{post.name}} 클릭</a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        해당지역의 게시글이 없습니다.<br>
    {% endif %}
    {% comment %} <button onclick="javascript:history.back();">뒤로가기</button> {% endcomment %}
    <button onclick="window.close();">창닫기</button>
{% endblock %}