{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}
    <h1>{{region}} 게시글 리스트</h1>
    {% if postlist %}
    <table border="1">
        <th>no</th>
        <th>날짜</th>
        <th>도시</th>
        <th>장소이름</th>
        {% for post in postlist %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{post.date}}</td>
                <td>{{post.city}}</td>
                <td><a href="/{{post.pk}}">{{post.name}}</a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        해당지역의 게시글이 없습니다.<br>
    {% endif %}

    <button onclick="javascript:history.back();">뒤로가기</button>
    <button onclick="window.close();">창닫기</button>
{% endblock %}