{% extends 'base2.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mainapp/upload.css' %}" type='text/css'> 
{% endblock %}

{% block content %}
<br>
<a id='back' href="{% url 'mainapp:map' %}">&lt; BACK</a>
<h3>마이맵 업로드</h3>
<table>
    <div id='container'>
        <form action="{% url 'mainapp:upload' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id='container_sub'>
                장소명
                <input type="text" name="name"><br>
            </div>
            <div id='container_sub'>
                <div>
                    후기<br>
                    <textarea rows="10" cols="40" name="comment"></textarea><br>
                </div>
            </div>
            <div id='container_sub'>
                이미지
                <input type="file" name="image"><br>
            </div>
            <div id='container_sub'>
                평점(5.0/
                <input type="number" name="rating">)<br>
            </div>
            <div id='container_sub'>
                방문일
                <input type="date" name="date"><br>
            </div>
            <div id='container_sub'>
                <!-- 항목
                <select name="item">
                    <option value="전시회">전시회</option>
                    <option value="박람회">박람회</option>
                    <option value="공연">공연</option>
                </select><br> -->
            </div>
            <div id='container_sub'>
                지역
                <select name="country">
                    <option value="서울">서울</option>
                    <option value="부산">부산</option>
                    <option value="대구">대구</option>
                    <option value="인천">인천</option>
                    <option value="광주">광주</option>
                    <option value="대전">대전</option>
                    <option value="울산">울산</option>
                    <option value="세종시">세종시</option>
                    <option value="경기도">경기도</option>
                    <option value="강원도">강원도</option>
                    <option value="충청북도">충청북도</option>
                    <option value="충청남도">충청남도</option>
                    <option value="전라북도">전라북도</option>
                    <option value="전라남도">전라남도</option>
                    <option value="경상북도">경상북도</option>
                    <option value="경상남도">경상남도</option>
                    <option value="제주도">제주도</option>
                </select><br>
            </div>
            <div id='container_sub'>
                도시
                <input type="text" name="city">
            </div>
            <br>
            <input id='upload_bt' type="submit" value="글쓰기">
        </div>
    </form>
</table>

{% endblock %}