#feature{
    position: fixed;
    right: 0px;
    margin: 0;
    z-index: -1;
    width: 100%;
    bottom: 5%;
}
#feature3{
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
a:link {color: black;}
a:visited {color : black;}
a:hover {color : rgb(257, 151, 116);}
a:active {color : rgb(257, 151, 116);}

#menu{
    font-weight: 500;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}
#menu_box{
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px -2px gray;
    font-weight: 300;
    font-size: 15px;
}
h3{
    color: black;
    margin: 0;
}