#back{
    margin: 20px;
    font-weight: 500;
}
input{
    background-color: whitesmoke;
    border: none;
}
#upload_bt{
    background-color: rgb(91, 201, 207);
    width: 60%;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: 700;
    margin-left: 20%;
}