h4{
    margin: 0%;
}
h3{
    margin: 10px;
    margin-top: 20px;
}
#feature3{
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}
#search_box{
    width: 68%;
    height: 30px;
    border: none;
    outline: none;
    margin-bottom: 7px;
    padding: 0;
    padding-left: 10px;
}
#sb_ct{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 15px;
}
#filter_ct{
    margin-left: 5%;
    margin-right: 5%;
}
#reset{
    margin-right: 10px;
    font-weight: 500;
}
#search_input{
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 30px;
}
button{
    width: 18%;
    height: 30px;
    background-color: rgb(91, 201, 207);
    color: white;
    border: none;
}
#tag{
    margin-top: 3px;
    margin-left: 5%;
    font-size: 15px;
    color: rgb(180, 57, 0);
}
#place{
    width: 85%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 2px 10px -3px gray;
    font-size: 15px;
}
#sub_title{
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}
#intro{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
}

input[type="radio"]{
    display: none;
}
input[type="radio"] + label{
    font-weight: 300; font-size: 13px;
    margin-left: 3px;
    margin-right: 3px;
}
/* input[type="radio"] + label span{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #ffffff;
} */
input[type="radio"]:checked + label{
    color: #333;
    font-weight: 700;
}

#radio_ct{
    display: flex;
    justify-content: center;
}