#login_box{
    /* margin-top: 20%; */
    display: flex;
    align-items: center;
    flex-flow: column;
}
form{
    width: 70%;
}
input, select{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin-bottom: 7px;
}
input[type="submit"]{
    width: 100%;
    height: 30px;
    background-color: rgb(91, 201, 207);
    color: white;
    border: none;
}
button{
    width: 100%;
    height: 30px;
    background-color: rgb(91, 201, 207);
    color: white;
    border: none;
}
h3{
    text-align: center;
    color: white;
}
.account{
    font-size: 15px;
    color: white;
    font-family: 'Poppins',sans-serif;
}
.account a{
    color: rgb(0, 134, 141);
    text-decoration: none;
}
.account a:hover{
    text-decoration: underline;
}
#intro{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
}

#question{
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}