{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'subapp/detail.css' %}" type='text/css'> 
{% endblock %}
{% block content %}
    {% comment %} <img id='feature3' src={% static 'mainapp/feature3.png' %} alt='feature3'> {% endcomment %}
    <div id='contents'>
        {% if Aitem  %}
        <h1> {{ Aitem.artinfo.title }} </h1>
        <div id='container1'>
            <div id='container2'>
                주 최<br>
                기 간<br>
                분 류<br>
                장 르<br>
                장 소<br>
                관람등급<br>
            </div>
            <div id='container3'>
                {{ Aitem.artinfo.host }} <br>
                {{ Aitem.artinfo.start_date }} ~ {{ Aitem.artinfo.end_date }} <br>
                {{Aitem.artinfo.category}} / {{ Aitem.cl }} <br>
                {{ Aitem.genre }} <br>
                {{Aitem.artinfo.region}}/{{ Aitem.place }} <br>
                {{Aitem.Vrate}} <br>
            </div>
        </div>
        {% endif %}

        {% if Bitem %}
        <h1> {{ Bitem.artinfo.title }} </h1>
        <div id='container1'>
            <div id='container2'>
                주최<br>
                기간<br>
                분류<br>
                지역<br>
                내용<br>
            </div>
            <div id='container3'>
                {{ Bitem.artinfo.host}} <br>
                {{Bitem.artinfo.start_date}} ~ {{Bitem.artinfo.end_date}} <br>
                {{Bitem.artinfo.category}} <br>
                {{Bitem.artinfo.region}} <br>
                {{Bitem.content}} <br>
            </div>
        </div>
        {% endif%}
    </div>
{% endblock %}