{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'subapp/search.css' %}" type="text/css">
{% endblock %}

{% block content %}
 <h3>search 결과</h3>
 <!-- 다시검색 -->
 <div>
    <form action="{% url 'subapp:search' %}" method="GET">
        {% csrf_token %}
        <input type="text" placeholder="wowplace" name="kw" value="{{kw|default_if_none:''}}">
        <button type="submit" >검색</button> <br>
        <div id='tag'>
            <span>#경주</span>
            <span>#경주 공연</span>
            <span>#서울 전시회</span>
            {% comment %} ex > 경주 / 경주 공연 / 서울 전시 예시키워드 몇개 두고 바뀌면 좋겠다<br>  {% endcomment %}
        </div>
    </form>
 </div>
 <!-- 필터링 -->
 <div>
     검색 : {{kw}}
     <form action="" method="GET">
         {% csrf_token %}
        <h3>상세 조건</h3>
        날짜 : <input type="date" name="start"> ~ <input type="date" name="end"> <br>
        정렬순 : 나중에 추가 <br>
        유형 : 
        <input type="checkbox" name="type[]" value="all"id="all" {% if license == 'all' %}checked{% endif %} >
        <label for="all">전체</label>
        <input type="checkbox" name="type[]" value="performance"id="performance" {% if 'performance' in license %}checked{% endif %}>
        <label for="performance">공연/전시</label>
        <input type="checkbox" name="type[]" value="festival"id="festival" {% if 'festival' in license %}checked{% endif %}>
        <label for="festival">축제/행사</label>
        <input type="checkbox" name="type[]" value="artwork"id="artwork" {% if 'artwork' in license %}checked{% endif %}>
        <label for="artwork">미술작품/건축물</label><br>

        <button type="reset">초기화</button>
        <button type="submit">적용</button>
    </form>
 </div>
 <!-- 결과 -->
 <div>
     <h3>검색결과</h3>
     {% for content in contents %}
    <div>
        <h4><a href="{% url 'subapp:detail' content.pk %}">{{content.title}}</a></h4>
        <b>주최 / 작가</b> : {{content.host}} <br>
        {% if content.region != N %} <b>지역</b> : {{content.region}}<br> {% endif %}
        <b>분류</b>>: {{content.category}}
    </div>
    {% empty %}
    <div>
        0 result found.
    </div>
    <div>
        <h4>예시타이틀</h4>
        날짜: 2020.11.30~2020.12.02 D-10 <br>
        상세정보 상세정보 그외 조건 
    </div>
    {% endfor %}
 </div>
{% endblock %}