{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'secondapp/place_detail.css' %}" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}

{% block content %}
{% comment %} <h1>장소 디테일 페이지</h1> {% endcomment %}
<img id='feature3' src={% static 'mainapp/feature3.png' %} alt='feature3'>
<div>
    <div id='place'>
        <h4>{{result.title}}</h4>
        <b>위치 : </b>{{result.region}} / {{result.address}}<br>
        <b> 유동인구 : </b> xx20대 남성이 많이 방문xx
    </div>
    <div>
        <h3>통계 그래프 들어갈 부분</h3> <br>
        최근 20xx.xx.xx ~20xx.xx.xx 동안 <br>
        남자 60%  | 여자 40% <br>
        10대 00% 20대 00% 30대 00% 40대 00% 50대 00% 60대 00% <br>
        </div>
    <br>
    <div>
        <h3>예상 데이터가 들어갈 부분</h3>  <br>
        다음 ?? 기간 동안  <br>
         ex1) 20대 남자 유동인구가 많을 것으로 예상됩니다.
         ex2) 남자 60%  | 여자 40% <br>
         10대 00% 20대 00% 30대 00% 40대 00% 50대 00% 60대 00% <br>
         로 예상됩니다.<br>
    </div>
    <br>
    기타정보 : <br>
</div>
<div id="chart">
    <div id="timeline-chart"></div>
</div>
<script>
    var options = {
    chart: {type: "area", height: 300, foreColor: "#ffffff", stacked: true,
    dropShadow: {enabled: true, enabledSeries: [0], top: -2, left: 2, blur: 5,opacity: 0.06}},
    colors: ['#ff540a', '#0090FF'], //차트 색상 
    stroke: {curve: "smooth",width: 3},
    dataLabels: {enabled: false},
    series: [
    {name: 'first data', data: generateDayWiseTimeSeries(0, 18)},
    {name: 'second data', data: generateDayWiseTimeSeries(1, 18)}],
    markers: {size: 0, strokeColor: "#fff", strokeWidth: 3,
    strokeOpacity: 1, fillOpacity: 1,hover: {size: 6}},
    xaxis: {type: "datetime", axisBorder: {show: false},axisTicks: {show: false}},
    yaxis: {labels: {offsetX: 14,offsetY: -5},tooltip: {enabled: true}},
    grid: {padding: {left: -5,right: 5}},
    tooltip: {x: {format: "dd MMM yyyy"},},
    legend: {position: 'top', horizontalAlign: 'left'},
    fill: { type: "solid", fillOpacity: 0.7}
    };

    var chart = new ApexCharts(document.querySelector("#timeline-chart"), options);

    chart.render();

    function generateDayWiseTimeSeries(s, count) {
      var values = [
        [4,3,10,9,29,19,25,9,12,7,19,5,13,9,17,2,7,5], //데이터
        [2,3,8,7,22,16,23,7,11,5,12,5,10,4,15,2,6,2]
        ];
      var i = 0;
      var series = [];
      var x = new Date("11 Nov 2012").getTime();
      while (i < count) {
        series.push([x, values[s][i]]);
        x += 86400000;
        i++;
        }
        return series;
    }
</script>

{% endblock %}