{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'secondapp/place_detail.css' %}" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}

{% block content %}
{% comment %} <h1>장소 디테일 페이지</h1> {% endcomment %}
<img id='feature3' src={% static 'mainapp/feature3.png' %} alt='feature3'>
<div>
    <div id='place'>
        <h4>{{result.title}}</h4>
        <b>위치 : </b>{{result.region}} / {{result.address}}<br>
        <b> 최근 일주일 유동인구 :</b>  {{result.allsum}}
        <div><img id='img_ct' src="{{result.image_url}}" alt="장소이미지"></div>
    </div>
    <div>
        <h3>이번 주 이용자 분석</h3>
        <div id='intro'>
            최근 2020.08.22 ~ 2020.08.31의 데이터를 기반으로<br>
            분석한 결과입니다.
        </div>
        <!-- <form action="" method = "GET">
            {%csrf_token%}
            <button type="submit">결과보기</button>
            <input type="radio" name="gender" id="성별전체" value="all" {% if gender == 'all' %}checked{% endif %}><label for="성별전체">전체</label>
            <input type="radio" name="gender" id="남성" value="man" {% if gender == 'man' %}checked{% endif %}><label for="남성">남성</label>
            <input type="radio" name="gender" id="여성" value="woman" {% if gender == 'woman' %}checked{% endif %}><label for="여성">여성</label><br>
            <br>
                <input type="radio" name="age" id="연령전체" value = "all" {% if age == 'all' %}checked{% endif %}><label for="연령전체">전체</label>
            <input type="radio" name="age" id="0대" value="0" {% if age == "0" %}checked{% endif %}><label for="0대">10대 미만</label>
            <input type="radio" name="age" id="10대" value="10" {% if age == "10" %}checked{% endif %}><label for="10대">10대</label>
            <input type="radio" name="age" id="20대" value="20" {% if age == "20" %}checked{% endif %}><label for="20대">20대</label>
            <input type="radio" name="age" id="30대" value="30" {% if age == "30" %}checked{% endif %}><label for="30대">30대</label>
            <input type="radio" name="age" id="40대" value="40" {% if age == "40" %}checked{% endif %}><label for="40대">40대</label>
            <input type="radio" name="age" id="50대" value="50" {% if age == "50" %}checked{% endif %}><label for="50대">50대</label>
            <input type="radio" name="age" id="60대" value="60" {% if age == "60" %}checked{% endif %}><label for="60대">60대 이상</label>
            <br>
        </form> -->
        <div id="chart">
            <div id="timeline-chart"></div>
        </div>
    </div>
    <div>
        <h3>다음 주 이용자 예측</h3>
        <form action="" method="GET">
            {%csrf_token%}
            <div id='intro'>
                빅데이터를 통해 2020.09.01 ~ 2020.09.07의 이용자 수를 예측한 결과입니다.
            </div>
            {% comment %} **나이 전체 선택시 성별 선택 불가** {% endcomment %}
            <div id='sb_ct'>
                <div id='sub_title'>
                    성별 예측 이용자
                </div>
                <div id='radio_ct'>
                    <input type="radio" name="gender" id="성별전체" value="all" {% if gender == 'all' %}checked{% endif %}><label for="성별전체">전체</label>
                    <input type="radio" name="gender" id="남성" value="man" {% if gender == 'man' %}checked{% endif %}><label for="남성">남성</label>
                    <input type="radio" name="gender" id="여성" value="woman" {% if gender == 'woman' %}checked{% endif %}><label for="여성">여성</label><br>
                </div>
                <div id='sub_title'>
                    연령별 예측 이용자
                </div>
                <div id='radio_ct'>
                    <input type="radio" name="age" id="연령전체" value = "all" {% if age == 'all' %}checked{% endif %}><label for="연령전체">전체</label>
                    <input type="radio" name="age" id="0대" value="0" {% if age == "0" %}checked{% endif %}><label for="0대">10대 미만</label>
                    <input type="radio" name="age" id="10대" value="10" {% if age == "10" %}checked{% endif %}><label for="10대">10대</label>
                    <input type="radio" name="age" id="20대" value="20" {% if age == "20" %}checked{% endif %}><label for="20대">20대</label>
                    <input type="radio" name="age" id="30대" value="30" {% if age == "30" %}checked{% endif %}><label for="30대">30대</label>
                    <input type="radio" name="age" id="40대" value="40" {% if age == "40" %}checked{% endif %}><label for="40대">40대</label>
                    <input type="radio" name="age" id="50대" value="50" {% if age == "50" %}checked{% endif %}><label for="50대">50대</label>
                    <input type="radio" name="age" id="60대" value="60" {% if age == "60" %}checked{% endif %}><label for="60대">60대 이상</label>
                </div>
            </div>
            <button type="submit">결과보기</button>
        </form>
        <div id="chart">
            <div id="timeline-chart2"></div>
        </div>
    </div>
    <br>
</div>

{% comment %} <div>
{{graph1_m}}<br>
{{graph1_w}}<br> 
{{graph2}}<br>
</div> {% endcomment %}

<script>
    function generateDayWiseTimeSeries(count, op) {
      //var values =[80, 383, 280, 310, 395, 532, 652]; 
      if (op ==1){var values = 0;}//{{graph1}};}
      else{var values ={{graph2}};} //데이터
      var i = 0;
      var series = [];
      var x = new Date("02 Sep 2020").getTime();
      while (i < count) {
        series.push([x, values[i]]);
        x += 86400000;
        i++;
        }
        return series;
    }

    function weekvalue(op){
        if(op == 0){
            var values={{graph1_m}};
        }else{
            var values={{graph1_w}};
        }
        return values
    }
</script>
<script src="{% static 'secondapp/place_detail.js'%}"></script>

{% endblock %}